.container-avenir {
  background-color: #393939;
  border-radius: 20px;
}

.row-avenir {
  justify-content: space-evenly;
  padding: 5% 0;
}
.box-film-avenir {
  margin: 0;
}

.film-avenir {
  margin: 0;
}
.img-avenir {
  border-radius: 20px;
}

.box-title-film-avenir {
  padding: 3% 3% 0;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.box-title-film-avenir p {
  margin-top: 5%;
}
