.coup_de_coeur {
    display: block;
    justify-content: space-between;
    background-color: #323232;
    margin: 5% auto;
    padding-top: 1%;
    padding-bottom: 5%;
  }
  .imgtitretexte {
    display: flex;
    justify-content: space-between;
  }

  .text-container {
    margin-left: 8vw;
  }
  .titretexte {
    display: block;
    justify-content: space-between;
    width: 70%;
  }
  .titrecdp {
   border-radius: 5px;
   border-color: #323232;
  }
  .coeur {
      position: absolute;
      right: 90%;
      transform: translateY(-45%); 
      
  }
  .titrecdp p{
      margin: 10% 0%;
      line-height: 30px;
  }


  @media screen and (max-width: 480px){

    .coup_de_coeur {
      display:flex;
      flex-direction: column;
    }
  }


