h2 {
  color: #f6f7eb;
  font-size: 3vw;
}

.container_en_ce_moment{
  background-color: #393939;
  border-radius: 20px;  
}

.button_center_absolute{
  margin: 20px auto -80px auto;
}

.film{
  display: flex;
  padding: 0;
  margin :3vh;
  flex-direction: column;
  align-items: center;  
}

.container_en_ce_moment h3{
  color: #f6f7eb;
  padding-top: 10px;
}

.film-row {
  padding-top:4vh;
}


