
// .en_ce_moment{                 I
//   h2{                          I     SCSS pour optimiser
//     color: red;                I
//   }                            I
//                                I     LAISSEZ MOI ÇA SVP                                    
//   i{                           I
//     background-color:blue;     I
//   }                            I
// }                              I



.container_en_ce_moment h3{
  margin-top:3px;
  font-size: 1.2vw;
  padding-bottom: 5vh;
}

.container_en_ce_moment{
  background-color: #393939;
  border-radius: 20px;  
  padding: 0 12vh;
}



.button_center_absolute{
  transform: translateY(50%); 
  margin: 20px auto 0 auto;
}

.film{
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center; 
  border-radius: 20px; 
}

.container_en_ce_moment h3{
  color: #f6f7eb;
  padding-top: 10px;
}

.film-row {
  padding-top:8vh;
}


