h2 {
  color: #f6f7eb;
  font-size: 3vw;
}

h3 {
  margin-top: 7%;
}

/* ----------------------------EN_CE_MOMENT----------------------------------------------------------- */

.en_ce_moment section {
  display: flex;
  flex-direction: column;
}

.container_en_ce_moment {
  /*le contenu de tous mes films*/

  position: relative;
  display: flex;
  flex-direction: column;
}

.liste_films {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #393939;
  border-radius: 25px;
}

.affiche_film {
  padding: 0 1%;
  width: 23%;
  margin: 3.5% 0;
}

.affiche_film_bas {
  margin-bottom: 6%;
}

.titre_film {
  color: #f6f7eb;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.en_ce_moment img{
    display:block;
    width: 60%;
    max-width: 100%;
    margin: 0 auto;

}

/* ----------------------------EVENEMENTS----------------------------------------------------------- */

.test {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.test a {
  margin: 20px;
}
