/* LANDING */
#landing {
  height: 50vh;
  margin: 15% 5% 5% 0;
  position: relative;
}
.box-landing {
  width: 80%;
  display: block;
  margin: 5% 0;
  color: #f6f7eb;
}
.subtitle-landing {
  margin: 5% 0;
}

@media screen and (max-width: 768px) {
  /* LANDING NAV */
  #landing {
    padding-top: 20vw;
    height: 100vh;
    margin: 10% auto 10%;
    position: relative;
  }
  .box-landing {
    width: 100%;
    display: block;
    padding: 10% 0;
    color: #f6f7eb;
  }
  .title-landing {
    text-align: center;
    font-size: 3.5rem;
  }
  .subtitle-landing {
    margin: 10% 0;
    text-align: center;
    font-size: 1rem;
  }
}
