/* LANDING */
#landing {
  height: 50vh;
  margin: 15% 5% 5% 0;
  position: relative;
}
.box-landing {
  width: 80%;
  display: block;
  margin: 5% 0;
  color: #f6f7eb;
}
.title1 {
  font-size: 5rem;
  text-align: left;
  font-weight: bold;
}
.title3 {
  font-size: 2rem;
  margin-left: 0;
  text-align: left;
}
