.newsletter {
  width: 100%;
  margin: 10% 0;
  justify-content: center;
  background-image: url("../../../assets/img/img-newsletter.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-attachment: fixed;
  background-size: 100%;
  height: 80vh;
  align-items: center;
  position: relative;
  padding-top: 5%;
}

.box-text {
  position: relative;
  margin: 5% 5% 5% 0;
}
.title-newsletter {
  font-size: 5rem;
}
.text-newsletter {
  margin: 5% 0;
}
.label {
  /* Indication du formulaire "Renseigner votre e-mail" */
  color: #f6f7eb;
  display: block;
  margin: 1% 0;
}

.mail-input {
  /* Ensemble zone de texte + Bouton */
  display: flex;
  margin-top: 1%;
}

.input-newsletter {
  /* Emplacement de la zone de texte avec l'exemple */
  margin: 0;
  padding: 5px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  width: 30%;
  padding-left: 3%;
  background-color: #1c1c1c;
}
.button-newsletter {
  position: relative;
  right: 4%;
}

@media screen and (max-width: 768px) {
  /* NEWSLETTER MOBILE */
  .newsletter {
    background-size: 100%;
    background-position: top;
    background-image: url("../../../assets/img/newsletter-mobile.png");
    margin: 30vw auto;
    padding: 10vw;
  }
  .box-text {
    display: block;
    position: sticky;
    margin: 30vw 0;
  }
  .title-newsletter {
    font-size: 2rem;
    text-align: left;
  }
  .text-newsletter {
    font-size: 1.5rem;
    margin: 10vw 0;
    font-weight: lighter;
  }
  .label {
    font-size: 1rem;
  }
  .mail-input {
    margin: 10% auto;
  }
  .input-newsletter {
    /* Emplacement de la zone de texte avec l'exemple */

    width: 70%;
  }
  .button-newsletter {
    position: relative;

    right: 10%;
  }
}
