.newsletter {
  margin: 0;
  justify-content: center;
  background-image: url("../../../assets/img/img-newsletter.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-attachment: fixed;
  height: 80vh;
  align-items: center;
  position: relative;
  padding-top: 5%;
}

.box-text {
  position: relative;
  margin: 5% 5% 5% 0;
}
.title-newsletter {
  font-size: 5rem;
}
.text-newsletter {
  margin: 5% 0;
}
.label {
  /* Indication du formulaire "Renseigner votre e-mail" */
  color: #f6f7eb;
  display: block;
  margin: 1% 0;
}

.mail-input {
  /* Ensemble zone de texte + Bouton */
  display: flex;
  margin-top: 1%;
}

.input-newsletter {
  /* Emplacement de la zone de texte avec l'exemple */
  margin: 0;
  padding: 5px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  width: 30%;
  padding-left: 3%;
}
.button-newsletter {
  position: relative;
  right: 4%;
}
