.top5 {
  /* EFFET HOVER TOP 5 */

  .pink_bouton {
    display: table;
    max-width: 100%;
    text-align: center;
    background-color: $pink;
    padding: 12px 29px;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.2s;
    color: #f6f7eb;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    opacity: 0%;
    position: absolute;
    bottom: 35%;
    left: 27%;
    z-index: 2;
  }
  .film {
    display: block;
    position: relative;
    transition: all 0.5s ease-in-out;
  }

  .film span {
    font-size: 250px;
    color: #ff5b7b;
    font-weight: bold;
    position: absolute;
    top: -30%;
    left: -40%;
    z-index: 3;
  }

  .film img {
    max-width: 100%;
    border-radius: 20px;
    transition: 1s;
  }
  .film:hover {
    transform: translateY(-20px);
  }

  .film:hover {
    .pink_bouton {
      opacity: 100%;
      transition: 1s;
    }
    img {
      opacity: 50%;
    }
  }

  .block-film:nth-child(1) {
    z-index: 7;
  }

  .block-film:nth-child(2) {
    z-index: 6;
  }
  .block-film:nth-child(3) {
    z-index: 5;
  }
  .block-film:nth-child(4) {
    z-index: 4;
  }
  .block-film:nth-child(5) {
    z-index: 3;
  }

  .box-film {
    position: relative;
  }
  .film {
    margin: 0% 10px;
    padding-left: 10px;
    border-radius: 20px;
  }
  .container-fluid {
    margin: 10% 0%;
  }
}
.block-film {
  position: relative;
}
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 30vw;
  }
  .film {
    width: 100%;
    margin: 0;
  }

  .number {
    font-size: 50%;
    top: 50%;
    width: 10%;
  }
  .w-100 {
    width: 100%;
    margin: 20vw 0;
  }
}
