---
title: Bienvenue sur la page d'accueil
---

<!-- Ce bout de code est fait pour vous servir d'exemple, n'oubliez pas de le supprimer quand vous n'en aurez plus besoin ! -->

{% include header.html %}

{% include home/landing.html %}

{% include home/top5.html %}

{% include home/infos_cine.html %}

{% include home/en_ce_moment.html %}

{% include home/evenements.html %}

{% include home/a_venir.html %}

{% include home/coup_de_coeur.html %}

{% include home/newsletter.html %}

{% include footer.html %}

<!-- Exemple de grille avec bootstrap -->
<section class="container">
    <div class="row">
        <div class="col-3">
            test
        </div>
        <div class="col-3">
            test
        </div>
        <div class="col-6">
            test
        </div>
    </div>
</section>