---
title: Bienvenue sur la page d'accueil
---

<!-- Ce bout de code est fait pour vous servir d'exemple, n'oubliez pas de le supprimer quand vous n'en aurez plus besoin ! -->

{% include header.html %}

{% include home.html %}

{% include top5.html %}

{% include info_cine.html %}

{% include en_ce_moment.html %}

{% include footer.html %}

<!-- Exemple de grille avec bootstrap -->
<section class="container">
    <div class="row">
        <div class="col-3">
            test
        </div>
        <div class="col-3">
            test
        </div>
        <div class="col-6">
            test
        </div>
    </div>
</section>