<footer>
    <p class="footer">footer</p>
    <footer>
        <div class="top">
           <div class="list-footer-g">
              <ul class="list-footer1">
                 <li>
                    <a href="">Accueil</a> 
                 </li>
                 <li>
                    <a href="">À l'affiche</a> 
                 </li>
                 <li>
                    <a href="">Horaires</a> 
                 </li>
                 <li>
                    <a href="">À venir</a> 
                 </li>
                 <li>
                    <a href="">Évènements</a> 
                 </li>
              </ul>
              <ul class="list-footer2">
                 <li>
                    <a href="">Espace pro</a> 
                 </li>
                 <li>
                    <a href="">Groupe Megarama</a> 
                 </li>
                 <li>
                    <a href="">Locations de Salles</a> 
                 </li>
                 <li>
                    <a href="">Réservations groupe</a> 
                 </li>
                 <li>
                    <a href="">Publicités</a> 
                 </li>
              </ul>
              <ul class="list-footer3">
                 <li>
                    <a href="">Mentions légales</a> 
                 </li>
                 <li>
                    <a href="">Contact</a> 
                 </li>
                 <li>
                    <a href="">Accès au cinéma</a> 
                 </li>
                 <li>
                    <a href="">Confidentialités</a> 
                 </li>
                 <li>
                    <a href="">Recrutement</a> 
                 </li>
              </ul>
           </div>
           <ul class="list_social_media_btn">
              <li>
                 <a   class="social_media_btn_twitter arrierebouton" href="">
                    <img src="../assets/img/icon.twitter.svg" alt="icone twitter">
                 </a>
              </li>
              <li>
                 <a  class="social_media_btn_facebook arrierebouton" href="">
                    <img src="../assets/img/icon.facebook.svg" alt="icone facebook">
                 </a>
              </li>
              <li>
                 <a  class="social_media_btn_instagram arrierebouton" href="">
                    <img src="../assets/img/icon.instagram.svg" alt="icone instagram">
                 </a>
              </li>
              <li>
                 <a class="social_media_btn_youtube arrierebouton" href="">
                    <img src="../assets/img/icon.youtube.svg" alt="icone youtube">
                 </a>
              </li>
           </ul>
           <ul class="list-logo">
              <div class="list-logo1">
                 <li>
                    <a class="link-social" href="">
                       <img src="../assets/img/logo_megarama.svg" alt="Logo">
                    </a>
                 </li>
              </div>
              <div class="list-logo2">
                 <li>
                 <a class="link_mobile_app_aple" href="">
                    <img src="../assets/img/icone.appstore.svg" class="arrierebouton2" alt="appstore">
                 </a>
                 </li>
           
                 <li>
                    <a class="link_mobile_app_android" href="">
                       <img src="../assets/img/icon.googleplay.svg" class="arrierebouton3" alt="googlepplay">
                    </a>
                 </li>
              </div>
           </ul>
        </div>
        <div class="bottom">
           <p> 2021 Copyright    I    pentacode </p>
        </div>
     </footer>