<header>
  <!-- <nav class="nav-bar">
    <div class="logo-nav">
      <img class="logo" src="../assets/img/logo.png" alt="logo-desktop" />
    </div>
    <div class="navbox-list">
      <ul class="nav-list">
        <li class="item-nav left"><a class="nav-a">Films</a></li>
        <li class="item-nav center"><a class="nav-a">Evénéments</a></li>
        <li class="item-nav center"><a class="nav-a">Espace Pro</a></li>
        <li class="item-nav right"><a class="nav-a">Informations</a></li>
      </ul>
    </div>
    <div class="icon-box">
      <div class="icon-i">
        <img src="../assets/img/profil.png" alt="icon-profil" />
      </div>

      <div class="search-box">
        <input class="search" type="text" placeholder="Rechercher" />
      </div>
    </div>
  </nav> -->
  <!-- Burger Menu -->
  <div class="menu-btn">
    <div class="menu-btn_burger"></div>
  </div>
</header>
