glm" class="grid">
  <div class="film-info">
    <div class="img-film">
      <img src="/assets/img/ECMaffiche_dune.png" alt="" class="image-film" />
      <ul>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
      </ul>
    </div>
    <div class="text">
      <div class="box-title-film">
        <h2>RON DÉBLOQUE</h2>
      </div>
      <div class="film-settings">
        <div class="film-topics">
          <ul class="list-info-film">
            <li class="info-film">Animation, Adventure, Comédie</li>
            <li class="info-film">Director : Tim Hill</li>
            <li class="info-film">Duration : 90 mins</li>
            <li class="info-film">Acteurs : Jack Dylan Grazer</li>
            <li class="info-film">Zach Galifianakis et Ed Helms</li>
          </ul>
        </div>
        <div class="film-synopsis">
          <h3>SYNOPSIS</h3>
          <p>
            Barney, un élève socialement maladroit, reçoit un robot du nom de
            Ron, un appareil connecté qui marche, qui parle, et qui est censé
            devenir son meilleur ami.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
