<section class="grid">
  <div class="img-box-filmpage">
    <img
      src="../../assets/img/page-film-img.png"
      alt="image-page-film"
      class="image-pagefilm"
    />
  </div>
  <div class="film-info">
    <div class="img-film">
      <img src="/assets/img/film2_top5.jpg" alt="" class="image-film" />
      <ul>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
      </ul>
    </div>
    <div class="text">
      <div class="box-title-film">
        <h2 class="title-film-page-film">RON DÉBLOQUE</h2>
      </div>
      <div class="film-settings">
        <div class="film-topics">
          <ul class="list-info-film">
            <li class="info-film">Animation, Adventure, Comédie</li>
            <li class="info-film">Réalisateur : Tim Hill</li>
            <li class="info-film">Duration : 90 mins</li>
            <li class="info-film">Acteurs : Jack Dylan Grazer</li>
            <li class="info-film">Zach Galifianakis et Ed Helms</li>
          </ul>
        </div>
        <div class="film-synopsis">
          <h3 class="synopsis-title">SYNOPSIS</h3>
          <p class="text-synopsis">
            Barney, un élève socialement maladroit, reçoit un robot du nom de
            Ron, un appareil connecté qui marche, qui parle, et qui est censé
            devenir son meilleur ami.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
