<section class="film-section grid">
  <div class="title-reservations">
    <h2>Réservations</h2>
    <i></i>
  </div>
  <div class="box-réservations">
    <div class="date-box">
      <h3 class="date-box-title">Choisir une date</h3>
      <ul class="date-list">
        <li class="date-item arrow-left">
          <img src="../../assets/img/arrow-left.png" alt="" />
        </li>
        <li class="date-item"><a href="" class="date-link">vendredi 03</a></li>
        <li class="date-item"><a href="" class="date-link">samedi 04</a></li>
        <li class="date-item-active">
          <a href="" class="date-link date-link-active">dimanche 05</a>
        </li>
        <li class="date-item"><a href="" class="date-link">lundi 06</a></li>
        <li class="date-item"><a href="" class="date-link">mardi 07</a></li>
        <li class="date-item"><a href="" class="date-link">mercredi 08</a></li>
        <li class="date-item arrow-right">
          <img src="../../assets/img/arrow-right.png" alt="" />
        </li>
      </ul>
    </div>
    <div class="seance-box">
      <h3>Choisir une séance</h3>
      <ul class="seance-list">
        <li class="seance-item">
          <a href="" class="seance-link-horaire">Horaires</a>
        </li>
        <li class="seance-item"><a href="" class="seance-link">16h00</a></li>
        <li class="seance-item-active">
          <a href="" class="seance-link-active">18h00</a>
        </li>
        <li class="seance-item"><a href="" class="seance-link">20h00</a></li>
        <li class="seance-item"><a href="" class="seance-link">22h00</a></li>
      </ul>
    </div>
    <a href="/film" class="button-blue">Réserver ma séance</a>
  </div>
</section>
