.list-footer-g {
  padding: 0;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  margin: 0;
  margin-right: 150px;
}

.list-footer-g a:hover {
  color: $pink;
}

.list-footer1 {
  border-right: 2px solid white;
  padding-right: 50px;
}

.list-footer2 {
  border-right: 2px solid white;
  padding-left: 50px;
  padding-right: 50px;
}

.list-footer3 {
  padding-left: 50px;
}

/* Mettre la barre sur le coté mais ne fonctionne pas avec le nom de class ? 
ul{
    border-left: 1px solid blue;
    padding: 20px;
} */

/*-------------------BOUTONS-REASEAUX-SOCIAUX----------------*/

.list_social_media_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social_media_btn_twitter {
  display: block;
  margin-bottom: 5px;
}

.social_media_btn_facebook {
  display: block;
  margin-bottom: 5px;
}

.social_media_btn_instagram {
  display: block;
  margin-bottom: 5px;
}

.social_media_btn_youtube {
  display: block;
  margin-bottom: 0;
}

.list-logo {
  display: flex;
  flex-direction: column;
}

.list-logo1 {
  align-self: center;
}

.list-logo2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.list-logo2 img {
  border-radius: 50px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  margin: 50px 0;

  @media screen and (max-width: 1135px) {
    display: block;
    .list_social_media_btn {
      flex-direction: row;
      margin-bottom: 20px;
    }
    .list-logo2 {
      margin: auto;
      padding-top: 20px;
    }

    .list-footer-g {
      margin: auto;
      padding-bottom: 20px;
    }
  }

  @media screen and (max-width: 600px) {
    margin: 20px;

    flex-direction: column;
    align-items: center;

    .list-footer-g {
      display: flex;
      padding: 0;
      margin: 0;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    ul {
      padding: 0 0;
      border-right: none;
    }

    .list-footer1 {
      margin: 0;
      border-bottom: 2px white solid;
      padding-bottom: 20px;
      // justify-content: center;
      // width: 100%;
    }
    .list-footer2 {
      margin: 0;
      border-bottom: 2px white solid;
      padding-bottom: 20px;
      padding-top: 20px;
      // justify-content: center;
      // width: 100%;
    }
    .list-footer3 {
      margin: 0;
      padding-bottom: 20px;
      padding-top: 20px;
      // justify-content: center;
      // width: 100%;
    }
    .list_social_media_btn {
      flex-direction: row;
      padding-bottom: 20px;
    }
    .list-logo2 {
      align-self: center;
    }
  }
  /* align-items: center;                             */
}

.link_mobile_app_aple {
  display: block;
  margin: 20px 20px;
}

.link_mobile_app_android {
  display: block;
  margin: 0 20px 0 20px;
}

.arrierebouton {
  background-color: $pink;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s;
}

.arrierebouton:hover {
  background-color: $blue;
  transform: rotate(10deg);
}

.arrierebouton2:hover {
  border: 1px solid $pink;
  transition: 0.2s;
}

.arrierebouton2 {
  border: 1px solid #232323;
}

.arrierebouton3 {
  border: 1px solid #232323;
}

.arrierebouton3:hover {
  border: 1px solid $blue;
  transition: 0.2s;
}

/*@media screen and (max-width: 1100px) {

    .top { 
        display: block
 }
} */

/*768 / 375*/
.logo {
  transition: 0.2s;
}
.logo:hover {
  transform: scale(1.1);
  transform: rotate(1deg);
}
.logo:hover{
    transform: scale(1.1);
    transform: rotate(1deg);
}

.bottom {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
