<section class="avenir grid">
  <h2 class="section_title">
    À venir
    <i></i>
  </h2>
  <div class="container-fluid container-avenir">
    <div class="row row-avenir">
      <div class="offset-lg-1 col-lg-2 col-6 box-film-avenir">
        <div class="film film-avenir">
          <img
            src="assets/img/film1_top5.jpg"
            alt="image-film-avenir"
            class="w-100 img-avenir"
          />
        </div>
        <div class="box-title-film-avenir">
          <p>Cry Macho</p>
        </div>
      </div>
      <div class="col-lg-2 col-6 box-film-avenir">
        <div class="film film-avenir">
          <img
            src="assets/img/film2_top5.jpg"
            alt="image-film-avenir"
            class="w-100 img-avenir"
          />
        </div>
        <div class="box-title-film-avenir">
          <p>Ron Debloque</p>
        </div>
      </div>

      <div class="col-lg-2 col-6 box-film-avenir">
        <div class="film film-avenir">
          <img
            src="assets/img/film3_top5.jpg"
            alt="image-film-avenir"
            class="w-100 img-avenir"
          />
        </div>
        <div class="box-title-film-avenir">
          <p>Les Éternels</p>
        </div>
      </div>

      <div class="col-lg-2 col-6 box-film-avenir">
        <div class="film film-avenir">
          <img
            src="assets/img/film4_top5.jpg"
            alt="image-film-avenir"
            class="w-100 img-avenir"
          />
        </div>
        <div class="box-title-film-avenir">
          <p>Dune</p>
        </div>
      </div>

      <div class="col-lg-2 col-6 box-film-avenir">
        <div class="film film-avenir">
          <img
            src="assets/img/film5_top5.jpg"
            alt="image-film-avenir"
            class="w-100 img-avenir"
          />
        </div>
        <div class="box-title-film-avenir">
          <p>Bac Nord</p>
        </div>
      </div>
    </div>
  </div>
</section>
