<section class="coup_de_coeur container-fluid grid"> 
    <h2 class="section_title">
        Coup de coeur
        <i></i> 
    </h2>
    <div class="imgtitretexte">
        <div>
            <img src="assets/img/coup_de_coeur.png" alt="">
            <img src="assets/img/coeur.png" class="coeur" alt="">
        </div>
        <div class="titretexte">
            <div>
                <h3>Barbaque</h3>
            </div>
        <div>
            <div class="titrecdp">
                <p>QUI D’ENTRE NOUS N’A PAS, AU COURS DE SES DERNIÈRES ANNÉES, PASSÉ UN REPAS EN FAMILLE OU ENTRE AMIS QUI A RAPIDEMENT ÉVOLUÉ VERS UN DÉBAT SENSIBLE ?  d’UN COTÉ, LES ÉPICURIENS 
                CONSOMMATEURS DE VIANDE EN MASSE,
                ET DE L’AUTRE, LES DÉFENSEURS DES  ALIMENTS GRÂCE AUXQUELS LES ÉPICURIENS CUISINENT LES RECETTES DE LEURS BLAGUES LES MOINS LÉGÈRES... “ ET LA SOUFFRANCE...”</p>
            </div>
            <a class="button">lire film</a>
        </div>
        </div>
    </div>
</section>