<section class="coup_de_coeur container-fluid grid"> 
    <h2 class="section_title">
        Coup de coeur
        <i></i> 
    </h2>
    <div class="imgtitretexte">
        <div class="img-coeur">
            <img src="assets/img/coup_de_coeur.png" alt="">
            <img src="assets/img/coeur.png" class="coeur" alt="image_coeur">
        </div>
        <div class="text-container">
        <div class="titretexte">
            <div>
                <h3>Barbaque</h3>
            </div>
        <div class="content-rush">
            <div class="titrecdp">
                <p>Qui d’entre nous n’a pas, au cours de ses dernières années, passé un repas en famille ou entre amis qui a rapidement évolué vers un débat sensible ? D’un côté, les épicuriens consommateur de viande en masse et de l’autre, les défenseurs des aliments grâce auxquels les épicuriens cuisinent les recettes de leurs blagues les moins légères ... “ et la souffrance ...”</p>
            </div>
            <a class="button">lire film</a>
        </div>
    </div>
</section>