<section class="en_ce_moment grid">
    <h2 class="titre_section">
        En ce moment
        <i></i> 
    </h2>
    <div class="container_en_ce_moment">
        <ul class="liste_films">
            <li class="affiche_film">
                <img src="assets/images/affiche_bac_nord.png" alt="une affiche de film">
                <div class="titre_film"><h3>Bac Nord</h3></div>
            </li>
            <li class="affiche_film">
                <img src="assets/images/affiche_tous_en_scene.png" alt="une affiche de film">
                <div class="titre_film"><h3>Tous en Scène</h3></div>
            </li>
            <li class="affiche_film">
                <img src="assets/images/affiche_aline.png" alt="une affiche de film">
                <div class="titre_film"><h3>Aline</h3></div>
            </lil>
            <li class="affiche_film">
                <img src="assets/images/affiche_dune.png" alt="une affiche de film">
                <div class="titre_film"><h3>Dune</h3></div>
            </li>
            <li class="affiche_film affiche_film_bas">
                <img src="assets/images/affiche_les_tuches.png"    alt="une affiche de film">
                <div class="titre_film"><h3>Les Tuches</h3></div>
            </li>
            <li class="affiche_film affiche_film_bas">
                <img src="assets/images/affiche_shang-chi.png" alt="une affiche de film">
                <div class="titre_film"><h3>Shang-chi</h3></div>
            </li>
            <li class="affiche_film affiche_film_bas">
                <img src="assets/images/affiche_sos_fantome.png" alt="une affiche de film">
                <div class="titre_film"><h3>S.O.S Fantômes</h3></div>
            </li>
            <li class="affiche_film affiche_film_bas">
                <img src="assets/images/affiche_supreme.png" alt="une affiche de film">
                <div class="titre_film"><h3>Suprêmes</h3></div>
            </li>
        </ul>
        <div class="container_button">
            <a href="#" class="button button-blue">voir tous les films</a>
        </div>
        
    </div>

</section>