<section class="container-fluid grid en_ce_moment">
    <h2 class="section_title">
        En ce moment
        <i></i> 
    </h2>
    <div class="container-fluid container_en_ce_moment grid">
        <div class="row film-row film-row-top">
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_bac_nord.png" alt="Affiche de film de Bac Nord" class="w-75">
                    <h3>Bac Bord</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_dune.png" alt="Affiche de film de Dune" class="w-75 film_ECM">
                    <h3>Dune</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_shang-chi.png" alt="Affiche de film de Shang-chi" class="w-75">
                    <h3>Shang-chi</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_sos_fantome.png" alt="Affiche de film de SOS fantôme" class="w-75">
                    <h3>S.O.S Fantômes</h3>
                </div>
            </div>
        </div>

        <div class="row film-row">
            <div class="col-lg-3">
                <div class="film" >
                    <img src="/assets/img/ECMaffiche_supreme.png" alt="Affiche de film de Suprêles" class="w-75">
                    <h3>Suprêmes</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film" >
                    <img src="/assets/img/ECMaffiche_les_tuches.png" alt="Affiche de film des Tuches " class="w-75">
                    <h3>Les Tuches</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_aline.png" alt="Affiche de film de Aline" class="w-75">
                    <h3>Aline</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_tous_en_scene.png" alt="Affiche de film de Tous en scène" class="w-75">
                    <h3>Tous En Scène</h3>
                </div>
            </div>
        </div>
            <a href="#" class="button-blue button_center_absolute">voir tous les films</a>
        </div>
          
    </div>

</section> 