<section class="container-fluid grid">
    <h2 class="section_title">
        En ce moment
        <i></i> 
    </h2>
    <div class="container-fluid container_en_ce_moment grid">
        <div class="row">
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_bac_nord.png" alt="" class="w-75">
                    <h3>bac nord</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_bac_nord.png" alt="" class="w-75">
                    <h3>bac nord</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_bac_nord.png" alt="" class="w-75">
                    <h3>bac nord</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_bac_nord.png" alt="" class="w-75">
                    <h3>bac nord</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="film" >
                    <img src="/assets/img/ECMaffiche_bac_nord.png" alt="" class="w-75">
                    <h3>bac nord</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film" >
                    <img src="/assets/img/ECMaffiche_bac_nord.png" alt="" class="w-75">
                    <h3>bac nord</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_bac_nord.png" alt="" class="w-75">
                    <h3>bac nord</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="film">
                    <img src="/assets/img/ECMaffiche_bac_nord.png" alt="" class="w-75">
                    <h3>bac nord</h3>
                </div>
            </div>
        </div>
            <a href="#" class="button-blue button_center_absolute">voir tous les films</a>
        </div>
          
    </div>

</section> 