 
    <section class="evenemet grid">
        <H2 class="section_title">
            Évènements 
            <i></i>
        </H2>
        <div class="evenements">
            <div class="evenement1">
                <img src="assets/img/cassenoisette.png" alt="">
                <div class="texteevenement1">
                    <h3>Casse Noisette</h3>
                    <p class="text-evenement">C'est la fête et toute la famille est réunie sous le sapin pour
                     célébrer Noël. A cette occasion, la jeune Marie reçoit un cadeau 
                     spécial de la part de son parrain Drosselmeyer. 
                     Très vite, ce réveillon prend pour elle une tournure 
                     inattendue : alors que tout s'endort, la nouvelle poupée de Marie 
                     prend vie et l'entraîne dans un univers féérique.
                    </p>
                    <a href="" class="button-blue">Réserver ma place</a>
                </div>
            </div>
            <div class="evenement2">
                <div class="texteevenement2">
                    <h3>Joyaux</h3>
                    <p class="text-evenement">A Paris, l'émeraude, à New York, le rubis et à Saint-Pétersbourg, le diamant.
                    Ces trois tableaux scintillants, accompagnés par les musiques de trois compositeurs essentiels,
                    exposent avec grâce les styles des trois écoles de danse qui ont contribué à faire de George Balanchine un chorégraphe unique.
                    </p>
                    <a href="" class="button-blue">Réserver ma place</a>

                </div>
                <img src="assets/img/joyaux.png" alt="">
            </div>
        </div>
        

    </section>
