<section id="horaires">
  <div class="box-horaires flux">
    <div class="box-title-horaires grid">
      <h2 class="title2">Envie de voir un film ?</h2>
      <a class="button-blue button-info1" href="/films">Réserver ma séance</a>
    </div>
    <div class="box-info-horaires grid">
      <div class="box-week gray-box">
        <img class="icon-horaires" src="assets/img/clock-pin.png" alt="" />
        <div class="weekdays week">
          <div class="days"><p>Lundi- Vendredi</p></div>
          <div><p>9h - 23h</p></div>
        </div>
        <div class="weekdays">
          <div class="days"><p>Dimanche</p></div>
          <div><p>12h - 23h</p></div>
        </div>
      </div>
      <div class="box-locatio gray-box">
        <img class="icon-horaires" src="assets/img/map-pin.png" alt="" />
        <p>7 Quai des Queyries, 33100 Bordeaux</p>
      </div>
      <div class="bok-parking gray-box">
        <img class="icon-horaires" src="assets/img/car-pin.png" alt="" />
        <p>
          Parking avec 200 places gratuites et accès à des places handicapés
        </p>
      </div>
    </div>
    <a class="button-blue button-info2" href="/films">Réserver ma séance</a>
  </div>
  <div class="black"></div>
</section>
