<section class="newsletter grid">
  <div class="boxt-text">
    <h2 class="newsletter">Infos en avant-première</h2>
    <div class="inscri">Inscrivez-vous à notre newsletter</div>
    <form action="traitement php">
      <!-- Indication de où vont les info entrer-->
      <label for="email">Veuillez renseigner votre adresse mail :</label>
      <div class="mail-input">
        <input
          type="email"
          id="email"
          placeholder="toto@exemple.com"
          pattern=".+@globex\.com"
        />
        <a href="#" class="button">M'inscrire</a>
      </div>
    </form>
  </div>
</section>
