<section class="container top-5 flux ">
    <ol>
        <li class="film">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film1.png" alt="" class="">
            <span>1</span>
        </li>
        <li class="film row">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film2.png" alt="" class="">
            <span>2</span>
        </li>
        <li class="film row">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film3.png" alt="" class="">
            <span>3</span>
        </li>
        <li class="film row">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film4.png" alt="" class="">
            <span>4</span>
        </li>
        <li class="film row">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film5.png" alt="" class="">
            <span>5</span>
        </li>
    </ol>
</section><section class="container top-5 flux ">
    <ol class="row">
        <li class="col-12 col-sm-6 film">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film1.png" alt="" class="">
            <span>1</span>
        </li>
        <li class="film row">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film2.png" alt="" class="">
            <span>2</span>
        </li>
        <li class="film row">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film3.png" alt="" class="">
            <span>3</span>
        </li>
        <li class="film row">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film4.png" alt="" class="">
            <span>4</span>
        </li>
        <li class="film row">
            <div>
                <a class="pink_bouton">lire film</a>
            </div>
            <img src="assets/imgs/film5.png" alt="" class="">
            <span>5</span>
        </li>
    </ol>
</section>