body {
  background-color: $primary-color;
  font-family: "Roboto", Montserrat, serif;
  background-image: url("../../assets/img/M_BG.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: top;
  background-attachment: fixed;
}

.grid {
  padding: 0 8vw;
}

a {
  color: #f6f7eb;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

/* ----------------------------BOUTONS_DESK----------------------------------------------------------- */

.button {
  /* bouton de base ROSE */
  display: table;
  max-width: 100%;
  text-align: center;
  background-color: #ff5476;
  padding: 12px 29px;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #f6f7eb;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background: linear-gradient(to left, #ff5476 50%, #c73c58 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}
.button:hover {
  background-color: #dd4865;
  color: #f6f7eb;
  background-position: left;
}

.button-blue {
  /* bouton BLEU */
  display: table;
  max-width: 100%;
  text-align: center;
  padding: 12px 29px;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: #77eecc;
  color: #393e41;
  background: linear-gradient(to left, #77eecc 50%, #4ca88e 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}

.button-blue:hover {
  background-color: #6ad1b4;
  background-position: left;
  color: #393e41;
}

/* ----------------------------GENERAL----------------------------------------------------------- */

h1 {
  font-size: 5rem;
  text-align: left;
  font-weight: bold;
}

h2 {
  color: #f6f7eb;
  font-size: 200px;
  font-weight: bold;

}
h3 {
  color: #f6f7eb;
  font-size: 2rem;
}

h3 {
  font-family: roboto, arial, helvetica, sans-serif;
}

p {
  color: #f6f7eb;
}

.texte_roboto {
  font-family: roboto, arial, helvetica, sans-serif;
}

.section_title {
  /*classe à ajouter pour tous les titres des sections*/
  display: flex;
  font-family: roboto, arial, helvetica, sans-serif;
  flex-direction: row;
  align-items: center;
  margin: 5% 0;
}

.section_title i {
  display: inline-block;
  background-color: #f6f7eb;
  height: 3px;
  flex-grow: 1;
  margin-left: 50px;
  border-radius: 3px;
}
